@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

html { 
  margin-left: calc(100vw - 100%);
  margin-right: 0; 
}

.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  overflow:overlay;
}

.mainCont{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:flex-end;
  }


.button{
  font-family:'Anton';
  font-size:33px;
  font-weight:'400';
  letter-spacing:2px;
  color:#202020;
}

.button:hover{
  cursor: pointer;
  
}

.indicator{
  color:#F50057;
  font-size:14px;
  width:12px;
  height:20px;
  padding-left:3px;
  padding-top:22%;
}

.line{
  height: 2px;
  background-color: #202020;
  border-radius: 5px;
  opacity: 0.8;
}

.itemsCont{
  display: flex;
  margin-top: 5%;
  flex-wrap: wrap;
  flex-wrap: row;
  justify-content: space-between;
  width: 60%;
}

.basketCont{
  margin-top:80px;
  margin-bottom:30px;
}

.sideTitlesCont{
  position:absolute;
  left:64%;
  top:190px;
  display:flex;
  flex-direction:column;
  align-items:flex-end;
}

.buyButton{
  width:200px;
  height:40px;
  border-radius:7px;
  background-color:#E91E63;
  position:absolute;
  bottom:30px;
  left:64%;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  cursor: pointer;
}

.buyButton:hover{
  cursor: pointer;
}

.buyButton:active{
  transform: scale(0.9) ;
}


.basketitems{
  margin-top:50px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .mainCont{
    margin-left: -180px;
    
    }

    .buyButton{
      width:100px;
      left:65%;
    }
    .itemsCont{
      margin-left: -30%;
    }


    .button{
      font-size:20px;
    }
    
    
    
    .sideTitlesCont{
      left:25%;
    }

   
    

    .basketitems{
      margin-top:100px;
      margin-left:200px;
    }

    .indicator{
      padding-top:5%;
    }
    

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

  .mainCont{
    margin-left: -100px;
  
    }

    .button{
      font-size:30px;
    }

    
    
    
    .sideTitlesCont{
      left:33%;
    }

    

    .basketitems{
      margin-top:100px;
      margin-left:200px;
    }

    .buyButton{
      width:100px; 
      left:75%;
    }

  
    
}

