

.itemCon{
  width:300px;
  margin-bottom:10%;
}

.item{
  width:300px;
  height:160px;
}

.itemData{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.buttonCon{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  width:30%;
}

.background-image{
  box-shadow: 7px 7px 22px -9px rgba(0,0,0,0.75);
  
}
.background-image:hover {
  transform: scale(1.2) ;
  transition: transform 5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.cursor:hover{
  cursor: pointer;
}

.cursor:active{
  transform: scale(0.9) ;
}
.expand{
  width:40px;
  height:25px;
  background-color:#E91E63;
  border-radius: 7px;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items: center;
  margin-top:7px;
  margin-left:10px;
  cursor: pointer;
}

.expand:hover{
  margin-left: -60%;
  width:100px;
  justify-content: flex-end;
  background: linear-gradient(270deg, rgba(233,30,99,1) 0%, rgba(234,39,105,0.25) 45%);
  padding-right:5%;

}

.expand:active{
  transform: scale(0.9) ;
}